body{
    margin:0;
    background-color: #F8F9FA;
}
#root{
    width: 100%;
    height:100%;
    padding:0;
    /* position:relative; */
}
.App{
    margin:0
}
.landingPage{
    width:100%;
    display:flex;
    flex-direction: column;
}

/* postDetailPage */
.postDetailPage{
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-between;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
}
/* postDetail */
.postDetail{
    flex:1 1 45%;
}
.postDetail_info{
    flex: 1 1 45%;
}
.postDetail_image{
    position:relative;
    width:100%;
    padding-top :70%;
}
.postDetail_image >img {
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}
.button{
    margin:1rem;
    padding:.5rem;
    /* width:15%; */
    align-self : flex-end;
    border-radius: .6rem;
    border: transparent;
    color:#015834;
    background-color: #d5f7e7;
}
.ql-syntax{
    background-color: #23241f;
    color: #f8f8f2;
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    font-size:1rem;
}
.tab{
    display:flex;
    width:fit-content;
    position:relative;
    list-style: none;
    padding-bottom: .4rem;
    margin: 0.8rem 0 0 1.8rem;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.tab__link {
    text-decoration: none;
    cursor: pointer;
    color:darkgray;
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    margin:0;
    padding:0 .5rem;
    /* transition: transform 0.5s; */
    
}
.tab__link--checked{
    color:black;
}
.tab__underline{
    width:50%;
    position:absolute;
    bottom:0;
    height:2.5px;
    background:  #7aebb6;
    /* transition: left 1s cubic-bezier(0.6, 0.35, 0, 1.04); */
    /* transition: left 1s cubic-bezier(0.08, 0.9, 0, 1.04); */
    transition: left 1s cubic-bezier(0.08, 0.9, 0.48, 1.22);
}
.tab__underline--issue{
    left:50%;
    /* transform:translateX(100%); */

}
.tab__underline--recent{
    left:0;
    /* transform:translateX(-100%); */
}

/* favorite */

.favorite{
    width:75px;
    border-radius: 16px;
    border: 0.2px solid gray;
    text-align: center;
    vertical-align: center;
    align-self: flex-end;
    margin:1rem 0;
}
.favorite--selected{
    border:0.2px solid #3f976e;
    background-color: #3f976e;
}
.favorite__content{
    color:gray;
}
.favorite__content--selected{
    color:white;
}

