.page{

}
.container{
    width:100%;
    padding:1rem;
    margin:0 auto;
    box-sizing: border-box;
}
.writtenTime{
    display:flex;
    justify-content: flex-end;

}
.writtenTime > span{
    font-size: .6rem;
}