.EditPage{
    margin:1rem 2rem .1rem 2rem;
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.titleInput{
    width:65%;
    padding:.5rem;
}
.selectOption{
    width:20%;
    padding:.5rem;
}
.uploadBtn{
    width:100px;
    height:70px;
}
/* 
function diff(a,b){
    return Math.abs(a-b);
 }
 
 함수 diff 는 파라미터 a,b 의 차를 return 한다. */