.EditPage{
    margin:1rem 0 0 0;
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.titleInput{
    width:70%;
}
.selectOpion{
    width:30%;
}
.uploadBtn{
    width:100px;
    height:70px;
}
