.pageLoading{
    position: absolute;
    transform:translate(-50%,-50%);
    left:50%;
    top:50%;

}
.loadingItem{
    border-radius: 50%;
    width:150px;
    height:150px;
    border:2px solid gray;
    border-left:none;
    background-color: #fff;
    animation: bingle 800ms ease-in-out infinite;
}
.pageLoading:nth-child(1){
    transition:border 0 ease-in 500ms;
    border: 1px 1px 1px 0 solid red;
}

@keyframes bingle {
    
    0%{
        transform:rotateZ(0);
        border: 1px 1px 1px 0 solid red;
    }
    50%{
        transform:rotateZ(120deg);
        border: 1px 1px 1px 0 solid red;
    }
    100%{
        transform:rotateZ(240deg);
        border: 1px 1px 1px 0 solid red;
    }
    
}
