.page{
    display:flex;
    flex-direction: column;
}
.writeBtn{
    margin:1rem;
    padding:.5rem;
    width:15%;
    align-self : flex-end;
    border-radius: .6rem;
    border: transparent;
    color:#015834;
    background-color: #d5f7e7;
}

.ql-content{

}
.ql-content .image{
    clear: both;
    display: table;
    margin: 0.9em auto;
    min-width: 50px;
    text-align: center;
    /* max-width:70%; */
}
.ql-content .image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
}