.page{
    display:flex;
    flex-direction: column;
}

.writeBtn{
    margin:1rem;
    padding:.5rem;
    width:15%;
    align-self : flex-end;
    border-radius: .6rem;
    border: transparent;
    color:#015834;
    background-color: #d5f7e7;
}

.ql-content{
    font-size: 1.125rem;
    /* color: var(--text1);
    transition: color 0.125s ease-in 0s; */
    line-height: 1.7;
    letter-spacing: -0.004em;
    word-break: keep-all;
    overflow-wrap: break-word;
}
.ql-content .image{
    clear: both;
    display: table;
    margin: 0.9em auto;
    min-width: 50px;
    text-align: center;
}
.ql-content .image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 100%;
}
.ql-content blockquote {
    margin:0;
    border-left: 4px solid rgb(22, 212, 149);
    margin-bottom: 5px;
    margin-top: 5px;
    padding:1rem;
    background-color: #F8F9FA;
    word-break: break-word;
}
.ql-content p{
    margin:0;
    word-break: break-all;
    font-weight: 400;
}
@media screen and (max-width:550px) {
    .ql-content{
        font-size: 1rem;
    }
    
}


