.register-page{
    height:90vh;
    display:flex;
    align-items: center;
}
#register-form{
    width:400px;
    margin:2rem auto;
}
#register-field{
    display:flex;
    flex-direction: column;
    align-items: center;
}
#register-field > input {
    margin:.5rem;
    width:60%;
    height:30px;
    border: 1px solid #e4e2e2;
    border-radius: .5rem;
}
#register-field > .valid{

}
#register-field > .invalid{
    
}
#register-field > input:focus{
    outline: none;
}
#submit{
    width:20%;
    border:transparent;
    background-color:blue;
    color:white;

}